.venv*/
jaxmarl
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.ipynb
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
docs/
tmp/
*-checkpoint.py
wandb/
runs/
outputs/
models/
checkpoints/
experiments/results/data/
*layouts*.json
*.dat
.idea
*.iml
events.out*
model_*
*.gif
*.png
*.pdf
*.txt
*.csv
/.env
