.venv*/
jaxmarl
__pycache__/

# from the jaxmarl repo
*.py[cod]
*$py.class
*.egg-info/
*.ipynb
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
docs/
tmp/
*-checkpoint.py
wandb/
runs/
outputs/
models/
/results/data/
/results/data_nips/
*.dat

.idea
*.iml
events.out*
model_*
*.gif
*.png
*.pdf
*.txt
